*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li,
ol {
    list-style: none;
}
fieldset {
    border: none;
}
a {
    border-bottom: 2px solid transparent;
    transition: var(--transition);
    text-decoration: none;
    color: inherit;
}
a:hover {
    border-color: inherit;
}

label {
    display: block;
}

img,
picture,
video {
    max-width: 100%;
}
button {
    cursor: pointer;
    transition: var(--transition);
    border-style: solid;
    font-family: inherit;
    color: inherit;
}
.content-hidden {
    display: none;
}

:root {
    --clr-dark-gray: #111827;
    --clr-emerald: #10b981;
    --clr-light-teal: #5eead4;
    --clr-red: #b91c1c;
    --font-1: "Roboto", sans-serif;
    --font-2: "Open Sans", sans-serif;
    --transition: all 0.25s ease-in-out;
    --border-radius: 4px;
    --letter-spacing: 4px;
}

body {
    font-family: var(--font-1), var(--font-2);
}

#project-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

#project-header,
#project-footer {
    background-color: var(--clr-emerald);
    color: black;
    padding: 20px 8px;
}

/* Header styling */
#project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    text-align: center;
}

.header-nav {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.header-nav-links {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.extra-btns-section {
    display: flex;
    flex-direction: column;
}

#project-header a,
#project-header button {
    font-size: 1.2em;
}

#project-header button {
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
}
#project-header button:hover {
    border-color: black;
}

/* Styling for main-content */
#project-main-content {
    background-color: var(--clr-light-teal);
    padding: 20px 8px;
    row-gap: 20px;
    display: grid;
    align-items: center;
}

.chess-form-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: fit-content;
    margin: 0 auto;
    padding: 16px 12px;
    border-radius: var(--border-radius);
    font-weight: 700;
}

#chess-position-form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

#chess-position-form fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
#chess-position-form input {
    display: block;
    padding: 4px;
    border-style: solid;
    width: 100%;
}
.field-error-el {
    background-color: var(--clr-red);
    color: white;
    padding: 4px;
    border-radius: var(--border-radius);
}

#submit-chess-form-btn {
    align-self: center;
    width: 70%;
    padding: 8px 0;
    background-color: transparent;
    border: 2px solid black;
    font-weight: inherit;
}
#submit-chess-form-btn:hover {
    background-color: black;
    color: var(--clr-light-teal);
}

/* 
- Set a max-width, and make sure width is always 100%. This allows for the grid 
to be able to shrink and be somewhat responsive. Aspect ratio keeps the grid 
a square.

*/

.chess-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.chessboard-grid {
    max-width: 500px;
    width: 100%;
    border: 3px solid black;
    margin: 0 auto;
    aspect-ratio: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.chess-square {
    aspect-ratio: 1;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-emerald);
    position: relative;
    border: 3px solid transparent;
    background-color: var(--clr-light-teal);
    transition: var(--transition);
    /* Helps when shrinking */
    overflow: hidden;
}

.chess-square.dark-square {
    background-color: var(--clr-emerald);
}

.chess-square-label {
    position: absolute;
    font-size: 0.5em;
    opacity: 0.8;
}

.chess-square-label.row-label {
    top: 0;
    left: 0;
}
.chess-square-label.column-label {
    bottom: 0;
    right: 0;
}

#project-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer-nav-links-container {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

/* Media queries */
@media screen and (min-width: 600px) {
    #header-drop-down-btn {
        display: none;
    }

    .header-nav {
        height: auto !important;
    }

    .header-nav-links {
        flex-direction: row;
        column-gap: 12px;
    }
}
